.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}

@media (max-width: 600px) {
  .pagination {
    justify-content: center;
  }
}

.page-btn {
  min-width: 36px;
  padding-left: 3px;
  padding-right: 3px;
  height: 30px;
  border: 1px solid #d9d9d9;
  background: white;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.page-btn:hover {
  background: #cfcaca;
}

.page-btn.active {
  background: #1f4dba;
  border-color: #2563eb;
  color: #fff;
}

.page-btn:disabled {
  opacity: 1;
  cursor: not-allowed;
}