/*  Global css */
* {
    margin: 0;
    padding: 0;
}



/* Body (stylingg whole page) */
body {
    font-family:sans-serif;
    background-color: #f7f1f0;
    color: #333;
    line-height: 1.6;
}




/* ------------ Header section--------- */

/* styling header section container which conatins name, role and profile image */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 60px 20px;
    background-color: #f0e6dd;
    border-radius: 10px;
}

/* Profile image */
.header img {
    border-radius: 50%;
}

/* header text part */
.header-text {
    text-align: left;
}

/* Name */
.header-text h1 {
    font-size: 45px;
    font-weight: 800;
}

/* Role */
.header-text h2 {
    font-size: 24px;
    font-weight: 600;
}





/* --------- Navbar ---------------- */

.navbar {
    margin: 15px 0;
}

/* Nav list (styling links as a whole) */
.nav-list {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 50px;
}

/* links (styling link text individually) */
.nav-list a {
    text-decoration: none;
    color: #555;
    font-weight: 700;
    font-size: 18px;
}

/* Hover effect for links */
.nav-list a:hover {
    color: #e7694a;
}




/* ----- Common section ------- */

/* styling section tag as it act as a card which is used at multiple places) */
.section {
    background: #fff;
    padding: 20px;
    margin: 20px 60px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}

/* Section heading */
.section h2 {
    margin-bottom: 10px;
}


/* List (styling list inside the section) */
ul {
    margin-left: 20px;
}

ul li {
    margin-bottom: 6px;
}
