* {
  box-sizing: border-box;
}


body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

img,
video,
svg {
  max-width: 100%;
  height: auto;
}


@media (max-width: 768px) {
  html {
    font-size: 15px;
  }

  button,
  input,
  select,
  textarea {
    font-size: 0.95rem;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 14px;
  }
}